.App {
	text-align: center;
}

.App-background {
	background-color: rgba(42, 41, 50, 1);
	color: white;
}

body {
	background: rgba(42, 41, 50, 1);
}

.center-container {
	display: table;
	margin: 50px auto;
	padding: 2px;
	border-radius: 10px;
}

.circle {
	width: 200px;
	height: 200px;
	line-height: 200px;
	border-radius: 50%;
	font-size: 100px;
	color: rgba(205, 82, 0, 1);
	text-align: center;
	background: rgba(60, 60, 72, 1);
}

.btn.btn-dark {
	background-color: #22212a;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 15px;
}

.btn.btn-dark:hover {
	background-color: #1a1a21;
}

.form-control {
	background-color: #22212a !important;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 15px;
	color: white !important;
	outline: none !important;
}

.form-container {
	background-color: rgba(60, 60, 72, 1);
	border-radius: 15px;
	padding: 30px;
	outline: none !important;
}

/*Styles for Buy.js is defined below*/

.center-container-buy {
	display: table;
	margin: 50px auto;
	padding: 2px;
	width: 80%;

	border-radius: 10px;
}

.form-container-buy {
	background-color: rgba(60, 60, 72, 1);
	border-radius: 15px;
	width: 100%;
	text-align: center;
	padding: 30px;
	outline: none !important;
}

.btn.btn-dark-buy {
	background-color: #22212a;
	width: 90%;
	margin-bottom: 20px;
	border-radius: 15px;
	color: white;
}

.lat-long-container {
	display: flex;
	text-align: center;
}

.form-control-buy {
	background-color: #22212a !important;
	width: 42%;
	margin-left: 40px;
	margin-bottom: 20px;
	border-radius: 15px;
	padding: 5px;

	text-align: center;
	color: white !important;
	display: block;
}

label {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 13px;
	padding-left: 15px;
	padding-bottom: 10px;
	color: rgba(255, 255, 255, 0.7);
	display: block;
}

.label-container {
	display: flex;
	flex-direction: column;
}
