.App {
	text-align: center;
}

.App-background {
	background-color: rgba(42, 41, 50, 1);
	color: white;
}

body {
	background: rgba(42, 41, 50, 1);
}

.center-container {
	display: table;
	margin: 50px auto;
	padding: 2px;
	border-radius: 10px;
}

.circle {
	width: 200px;
	height: 200px;
	line-height: 200px;
	border-radius: 50%;
	font-size: 100px;
	color: rgba(205, 82, 0, 1);
	text-align: center;
	background: rgba(60, 60, 72, 1);
}

.btn.btn-dark {
	background-color: #22212a;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 15px;
}

.btn.btn-dark:hover {
	background-color: #1a1a21;
}

.form-control {
	background-color: #22212a !important;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 15px;
	color: white !important;
	outline: none !important;
}

.form-container {
	background-color: rgba(60, 60, 72, 1);
	border-radius: 15px;
	padding: 30px;
	outline: none !important;
}

/*Styles for Buy.js is defined below*/

.center-container-buy {
	display: table;
	margin: 50px auto;
	padding: 2px;
	width: 70%;
	max-width: 70vw;
	min-width: 400px;
	height: 90%;
	max-height: 80vh;
	min-height: 60vh;

	border-radius: 10px;
}

.form-container-buy {
	background-color: rgba(60, 60, 72, 1);
	border-radius: 15px;
	width: 100%;
	height: 80%;
	text-align: center;
	padding: 20px;
	padding-top: 40px;
	outline: none !important;
}

.btn.btn-dark-buy-policy {
	background-color: #22212a;
	width: 300px;
	margin-bottom: 20px;
	border-radius: 15px;
	color: white;
	border: 3px solid #f8922c;
}

.btn.btn-dark-claim {
	background-color: #22212a;
	width: 300px;
	margin-bottom: 20px;
	border-radius: 15px;
	color: white;
	border: 3px solid #f34e24;
}

.btn.btn-dark-buy-policy:hover {
	background-color: #1a1a21;
}

.btn.btn-dark-claim:hover {
	background-color: #1a1a21;
}

.container {
	display: flex;
	text-align: center;
	justify-content: center;
}

.container.longLat {
	background-color: #2e2e36;
	border-radius: 15px;
	padding: 35px;
	margin-bottom: 20px;
}

.container button {
	margin: 0 20px 0 20px;
	width: 100% !important;
}

.form-container-buy input {
	background-color: #22212a !important;
	border-radius: 15px;
	padding: 5px;
	outline: none;
	text-align: center;
	color: white !important;
	display: block;
	border: none;
}

.label-input-container {
	display: flex;
	flex-direction: column;
}

.label-input-container input {
	margin: 0 20px 0 20px;
}

.label-input-container label {
	align-self: flex-start;
}

label {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 13px;
	padding-left: 15px;
	padding-bottom: 10px;
	color: rgba(255, 255, 255, 0.7);
	display: block;
}

.label-container {
	display: flex;
	flex-direction: column;
}
.available-eth-container {
	background: #1a1a21;
	padding: 10px;
	margin-top: 50x;
	margin-bottom: 30px;
	border-radius: 15px;
	display: inline-block;
	justify-content: center;
	width: 60%;
	border: 3px solid #1a1a21;
}

/*Oracle page styling*/
.form-control-oracle {
	background-color: #22212a !important;
	width: 18%;
	margin-left: 24px;
	margin-bottom: 20px;
	border-radius: 15px;
	padding: 5px;
	text-align: center;
	color: white !important;
	display: block;
}

/*Home.js styling*/

.form-container-about {
	background-color: rgba(60, 60, 72, 1);
	border-radius: 15px;
	width: 100%;
	height: 80%;
	padding: 15px;
	outline: none !important;
}

.about-header {
	color: #f34e24;
}

.project-description {
	font-size: 20px;
}

.url-json {
	color: white;
	text-decoration: none;
	background: #22212a;
	padding: 8px;
	margin: 5px;
	border-radius: 10px;
	border: 3px solid #e88a2b;
}
.url-json:hover {
	color: white;
	text-decoration: none;
	background: #1a1a21;
}

.url-container {
	padding: 10px;
}

/*Style for owner.js*/

.btn.btn-dark-policy-data {
	background-color: #22212a;
	width: 450px;
	margin-bottom: 20px;
	border-radius: 15px;
	color: white;
	border: 3px solid #e88a2b;
}

.container.policyaddress {
	background-color: #2e2e36;
	border-radius: 15px;
	padding: 20px;
	margin-bottom: 20px;
}

.btn.btn-dark-fund-contract {
	background-color: #22212a;
	width: 450px;
	margin-bottom: 20px;
	border-radius: 15px;
	color: white;
	border: 3px solid #ffa74f;
}

.btn.btn-dark-expired-policy {
	background-color: #22212a;
	width: 450px;
	margin-bottom: 20px;
	border-radius: 15px;
	color: white;
	border: 3px solid #f8792c;
}
.btn.btn-dark-not-connected {
	background-color: #22212a;
	width: 450px;
	margin-bottom: 20px;
	border-radius: 15px;
	color: white;
	border: 3px solid #f8662c;
}
.btn.btn-dark-self-destruct {
	background-color: #22212a;
	width: 450px;
	margin-bottom: 20px;
	border-radius: 15px;
	color: white;
	border: 3px solid #f85c2c;
}

.available-eth-container.owner {
	margin-bottom: 30px;
}

/*Style for oracle.js*/
.contract-addr {
	width: 100%;
	margin-bottom: 20px;
	background-color: #2e2e36;
	color: white;
	border-radius: 15px;
	border: 2px solid grey;
	text-align: center;
	font-size: 14px;
}

.container.oracle {
	background-color: #2e2e36;
	border-radius: 15px;
	padding: 10px;
	margin-bottom: 20px;
}

.label-input-container-oracle {
	display: flex;
	flex-direction: column;
}

.label-input-container-oracle input {
	margin: 0 6px 0 5px;
	width: 60%;
}

.label-input-container-oracle label {
	align-self: flex-start;
}

.btn.btn-dark-request-time {
	background-color: #22212a;
	width: 330px;
	margin-bottom: 20px;
	border-radius: 15px;
	color: white;
	border: 3px solid green;
}

.btn.btn-dark-request-time {
	text-decoration: none;
	background: #1a1a21;
}

.btn.btn-dark-request-eruption {
	background-color: #22212a;
	width: 330px;
	margin-bottom: 20px;
	border-radius: 15px;
	color: white;
	border: 3px solid #f85c2c;
}

.btn.btn-dark-copy {
	background-color: #22212a;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 15px;
	color: white;
	border: 3px solid grey;
}
