@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.nav-container {
	background: rgba(29, 29, 36, 1);
	display: table;
	margin: 50px 50px;
	padding: 2px;
	border-radius: 10px;
}
.nav-container .nav-txt {
	list-style: none;
	display: inline-block;
	margin: 5px;
}
.nav-container .nav-txt .nav-link {
	font-family: "Poppins", sans-serif;
	color: white;
	text-decoration: none;
	position: relative;
	padding: 15px 15px;
	font-size: 18px;
	display: block;

	border-radius: 10px;
}

.nav-container a:hover {
	background-color: rgba(60, 60, 72, 1);
	color: black;
}

.navbar-container a:active {
	background-color: blue;
}
