@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Poppins";
}

body {
	background: #f4f4f4;
}

.container-team {
	margin-top: 50px;
}

img {
	border-radius: 50%;
}
.container-team .team {
	width: auto;
	display: flex;
	justify-content: center;
	text-align: center;
	/*flex-wrap: wrap;*/
}

.container-team .team .member {
	width: 325px;
	margin: 10px;
	background: rgba(29, 29, 36, 1);
	border-radius: 15px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
	padding: 25px;
	margin-bottom: 100px;
}

.container-team .team .member img {
	width: 80px;
}

.container-team .team .member h3 {
	color: white;
}

.container-team .team .member span {
	font-size: 12px;
	color: white;
}

.container-team .team .member p {
	margin: 15px 0;
	font-weight: 400;
	color: white;
	font-size: 15px;
	text-align: justify;
}

.container-team .team .member .btn a {
	background: #3c3c48;
	display: block;
	float: right;
	width: 125px;
	margin: 0 10px;
	padding: 10px;
	border-radius: 6px;
	color: white;
	text-transform: capitalize;
	transition: all 0.3s ease;
}

.container-team .team .member .btn a:hover {
	background: #2e2e36;
	color: #fff;
}
